<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doctor.dococean.com.doctorapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DococeanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_debug_api_key" />

        <activity
            android:name=".views.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activities.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.TermsAndConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.ReferFriendActivity"
            android:screenOrientation="portrait" />

        <service android:name=".firebase.DococeanFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.DococeanFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name=".db.DocOceanContentProvider"
            android:authorities="doctor.dococean.com.doctorapp"
            android:exported="false" />

        <activity
            android:name=".views.activities.AcceptBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.ScheduledPatientDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.ConfirmedPatientDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.ImmediateConsultationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.BookingHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.BookingHistoryPatientDetailsActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.BackgroundService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".views.activities.PaymentActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f7a8ee22547437706856560c16ae5056068390d9" />
    </application>

</manifest>